.header {

    // .header__box

    &__box {
        width: 100%;
        max-width: 1445px;
        margin: auto;
    }

    // .header__line

    &__line {
        border: 1px solid #828282;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.link {
    color: inherit;
}

.menu {

    // .menu__box

    &__box {
        display: flex;
        justify-content: space-between;
    }

    // .menu__element-black

    &__element-black {
        font-family: 'Gilroy-Bold';
        font-size: 1.5vw;
        line-height: 22px;
        color: #070707;
        margin: 32.99px 0 31.92px 0;
        ;
    }

    // .menu__element

    &__element {
        font-family: 'Gilroy-Bold';
        font-size: 1.5vw;
        line-height: 22px;
        color: #818181;
        margin: 32.99px 0 31.92px 0;
    }

    &__element:hover {
        color: #000000;
    }
}

.home {

    // .home__box

    &__box {
        width: 100%;
        max-width: 1445px;
        margin: auto;
    }
}

.element {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
        align-self: flex-end;
    }
}

.slider {
    width: 944px;
    margin: auto;
    margin-top: 2.051vh;
}

.maintitle {
    font-family: 'Gilroy-Bold';
    font-size: 3.276vw;
    line-height: 4.083vw;
    color: #070707;
}

.language {
    display: flex;
    transform: rotate(-90deg);
    align-items: center;
    font-family: 'Gilroy-Bold';
    font-size: 1.1vw;
    line-height: 20px;
    color: #828282;

}

.button {
    display: flex;
    // .button__item-ru

    &__item-ru {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+label {
            color: rgb(0, 0, 0);
        }
    }

    // .button__item-eng

    &__item-eng {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+label {
            color: rgb(0, 0, 0);
        }
    }
}

.aboutme {

    // .aboutme__box

    &__box {
        background-color: #F6F6F6;
        background-size: cover;
    }


    .middle-title {
        margin-top: 104px;
        padding-top: 120px;
        text-align: center;
    }


    .text {
        text-align: center;
        padding: 20px;
    }

    // .aboutme__text

    &__text {
        padding-bottom: 107px;
    }
}

.text {
    font-family: 'Gilroy-Medium';
    font-size: 1.5vw;
    line-height: 22px;
    color: #070707;
}

.middle-title {
    font-family: 'Gilroy-Bold';
    font-size: 2.353vw;
    line-height: 42px;

    color: #070707;
}

.skills {

    // .skills__box

    &__box {
        width: 100%;
        max-width: 1445px;
        margin: auto;
    }

    // .skills__text

    &__text {
        padding-top: 91px;

        .middle-title {
            text-align: center;
        }

        .text {
            padding-top: 62px;
            padding-bottom: 83.5px;
            text-align: center
        }
    }

    // .skills__cards

    &__cards {
        display: flex;
        justify-content: space-around;
    }
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 110px;

    // .card__icon-text

    &__icon-text {
        font-family: 'Gilroy-Bold';
        font-size: 1vw;
        line-height: 17px;
        color: #828282;
        padding: 10px;
    }

    // .card__rating

    &__rating {
        display: inline-block;
        font-size: 0;

        span {
            padding: 0;
            font-size: 20px;
            line-height: 1;
            color: lightgrey;
        }
    }

    &__rating>span:before {
        content: '★';
    }

    &__rating>span.active {
        color: black;
    }
}

.portfolio {

    // .portfolio__box

    &__box {
        background-color: #F6F6F6;
        background-size: cover;

        .middle-title {
            padding-top: 113px;
            padding-bottom: 47px;
            text-align: center;
        }
    }

    // .portfolio__icon

    &__icon {
        text-align: center;
        margin-bottom: 3.488vh;
    }

    // .portfolio__icon-text

    &__icon-text {
        font-family: 'Gilroy-Medium';
        font-size: 1.5vw;
        line-height: 22px;
        text-align: center;
        text-decoration-line: underline;
        color: #070707;
        padding: 45px;
    }
}

.footer {
    // .footer__box-text

    &__box-text {
        padding: 50px;

        .middle-title {
            margin-bottom: 40px;
        }
    }

    // .footer__box

    &__box {
        width: 100%;
        max-width: 1445px;
        margin: auto;
        text-align: center;
    }


    // .footer__link

    &__link {
        display: inline-block;
        box-sizing: border-box;
        padding: 1px;
        margin: 0 15px 15px 0;
        outline: none;
        border-radius: 25px;
        height: 46px;
        line-height: 0;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;

        span {
            display: block;
            box-sizing: border-box;
            padding: 0 25px;
            height: 42px;
            line-height: 38px;
            border-radius: 25px;
            font-size: 14px;
            color: #FFFFFF;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(126, 126, 126, 0) 100%), #000000;
            text-align: center;
            font-weight: 600;
        }

    }

    &__link:hover span {
        background-color: #5e5e5e
    }

    &__link:disabled {
        opacity: 0.65;
        pointer-events: none;
    }

    // .footer__baton

    &__baton {
        font-family: 'Gilroy-Bold';
        font-size: 1.5vw;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    // .footer__icons

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .footer__icon

    &__icon {
        margin: 20px;
    }

    // .footer__text

    &__text {
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }


}